{% extends 'fbiapp/base.html' %}
{% load static %}


{% block content %}
        <!--로그인. 회원가입. 설문조사-->

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="content">
							<div class="inner">
								<h2 class="major">Project FBI</h2>
								<ul class="actions">
									<li><a href="{% url 'login' %}"><input type="submit" id='send' value="Login" class="primary"/></a></li>
									<li><a href="{% url 'signup' %}"><input type="submit" id='send' value="Sign up"/></a></li>
                                    <!-- 로그인 했고 && 이전 데이터 없는 경우에만 메뉴 보이도록 처리-->
									<li><a href="{% url 'mypage' user.user_id %}"><input type="submit" id='send' value="Mypage"/></a></li>
									<li><a href="" class="button">설문조사</a></li>
								</ul>	
							</div>
						</div>
						
					</header>

				<!-- Main -->
					<div id="main">
						
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 충북대학교 소프트웨어학과 캡스톤디자인 16팀 스쿨피자 <a href="https://github.com/SchoolPizza">Github</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>
{% endblock content %}
